-i https://pypi.org/simple
git+https://github.com/charmed-kubernetes/interface-k8s-service.git@55e1b640937ac55b8501aa1459a712206f30512c#egg=k8s-service
git+https://github.com/juju-solutions/resource-oci-image/@c5778285d332edf3d9a538f9d0c06154b7ec1b0b#egg=oci-image
ops==1.0.0
pyyaml==5.3.1
